.cabecalho {
    background-color:cornflowerblue;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.projeto-titulo{
    text-align: center;
    padding: 16px 0;

}

.projeto-div{
    text-align: center;
    padding: 50px 0;

}
.rodape-imagem{

    height: 60px;
}

.rodape{

    text-align: center;
    background-color: blue;
}

