.cabecalho {
    background-color:cornflowerblue;
    color:black
    display: flex;
    justify-content: space-around:
    align-items: center;
    padding: 24px 0;
}

.cabecalho-lista-item{
    display: inline-block;
}