.cabecalho {
    background-color:rgb(192, 194, 199);
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.projeto-titulo{
    text-align: center;
    padding: 16px 0;

}

.projeto-div{
    text-align: center;
    padding: 50px 0;

}
.rodape-imagem{

    height: 60px;
    padding: 12px 0;
}

.rodape{

    text-align: center;
    background-color: black;
}

.curso{
    background-image: linear-gradient(rgba(85, 83, 83, 0.692));
    color:rgb(8, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
   }
   .curso-div-conteudo{
    width: 35%;
   }
   .curso-titulo{
    padding: 24px 0;
   }

